[2015-01-08 13:34] opreaadrian opened #4 "URL in project description shows 404"
Hello,

I was looking at the project and wanted to see a demo of it but unfortunately I found an issue.
http://gabinaureche.com/TheaterJS is throwing a 404 error.

This also messes up the example on CodePen.

[2015-01-08 19:12] Zhouzi commented on #4
Hello @opreaadrian,

Could you please try to access http://gabinaureche.com/TheaterJS again?

I'm not experiencing any error from my side. Maybe it has been down for a little, I'd eventually get in touch with my host.

Anyway, thank you for the heads-up!

[2015-01-09 12:52] Zhouzi commented on #4
Thank you for reporting it @flenter! Did you come across a 404 page also?

Sadly, I can't reproduce it:
http://www.downforeveryoneorjustme.com/http://gabinaureche.com/TheaterJS/
I will contact my host to know what's going wrong.

For now, I replaced the project's url by the codepen one: http://codepen.io/Zhouzi/full/JoRazP/

[2015-01-09 13:03] flenter commented on #4
Indeed, I got a 404 on the http://gabinaureche.com/TheaterJS link too.

Unfortunately, the codepen version also doesn't work since it relies on javascript (http://gabinaureche.com/TheaterJS/build/theater.js) and css (http://gabinaureche.com/TheaterJS/build/styles.css ) for which the server also responded with 404's

[2015-01-09 13:52] ErtugKaya opened #5 "TheaterJS halts with blinking text cursor"
In your example, I get random "Uncaught TypeError: Cannot read property '0' of undefined" at line 152. This causes text cursor blink at the end of a word and cannot complete it's job.

I believe p in ```p = chars[c];``` is undefined.

I think it happens when your code is mis-typing a space character.

Correction: It happens after space, before first letter of a word.

Using latest chrome and Win 7

[2015-01-09 14:52] opreaadrian commented on #4
Hello guys,

From what I saw, it's only acting funny in browsers that use webkit/blink -- Chrome, Safari, Opera. It's working fine in Firefox and Safari mobile.

http://youtu.be/fXC8eS9ahNc

Cheers!

[2015-01-09 19:11] Stephn-R commented on #5
Well this brings up a good question, why would you have to perform this check if the for loop only loops through existing components?

[code]

[2015-01-09 21:35] Zhouzi commented on #5
Thank you for pointing it out @ErtugKaya!

You are absolutely right. Actually, the error was thrown when the mistaking character wasn't found in the available characters list. I fixed it so it simply returns a random character in this case.

@Stephn-R Are you talking about `if (!chars.hasOwnProperty(c)) continue;`?
This test avoids looping through potential prototyped properties. For example:

[co

[2015-01-09 21:36] #5 closed

[2015-01-09 21:58] Zhouzi commented on #4
Thank you @flenter and thank you very much @opreaadrian for taking the time to record it, much appreciated! :)

Did you guys accessed to the page once? Or it has been down all the time?
I am wondering if the server experienced some down time periods or if the issue is about something else.

I contacted my web hosting company to know what's happening.
Until then, I embedded the source code on Codep

[2015-01-09 22:05] opreaadrian commented on #4
You're welcome @Zhouzi! At this very moment, the page works in all browsers outlined in the video, so I'm guessing that either your hosting provider is experiencing difficulties.

[2015-01-12 05:15] Stephn-R commented on #5
@Zhouzi This makes sense!!! I am glad you pointed that out for me :) thanks

[2015-01-12 08:01] Zhouzi commented on #5
@Stephn-R No problem dude! :)

[2015-01-12 21:00] #4 closed

[2015-01-13 09:11] Penderis opened #9 "Yippee I'm star 1000"

[2015-01-13 12:48] Zhouzi commented on #9
Well, I'd like to encounter this kind of issue every day! hehe ;)

[2015-01-13 12:48] #9 closed

[2015-01-13 14:04] ErtugKaya commented on #5
You are welcome @Zhouzi . Keep up the good work.

[2015-01-13 14:17] ErtugKaya opened #10 "Mistyping repeating keys"
People won't mistype repeated keys. For instance, when you are typing `...` it is very unlikely for someone to mistype 2nd or 3rd dot. So maybe you should check if previous character is same as current one and don't mistype if so.

What do you think?

[2015-01-13 15:11] kloplop321 opened #11 "Homepage link is broken"
in README.md links to a dead page.

[2015-01-13 20:08] Zhouzi commented on #11
Hello @kloplop321 and thank you for the report! I thought the issue was fixed but I'll make some more investigations. Did you ever accessed to the demo page or you always faced a 404 page?

[2015-01-13 20:16] Zhouzi commented on #10
You are absolutely right @ErtugKaya. I think that some people, the least experienced ones (e.g. with `.1` experience), can make mistakes even on repeated characters. So it might be interesting that there's little chances to actor with experience between `0` and `.3` to make this kind of mistakes.

Thank you for the suggestion, I'll work on it!

[2015-01-13 20:20] kloplop321 commented on #11
Just click on the link from the readme, which goes to http://gabinaureche.com/TheaterJS

The codepen loads for me, but unfortunately does not seem to function.
Chrome Version 39.0.2171.95 m

So, I don't get to see the awesome darth vader scene.

[2015-01-13 21:29] Zhouzi commented on #10
This is now included: https://github.com/Zhouzi/TheaterJS/commit/25688c4887bb1e97c62ca2be092207915bc08906

Unless an actor has `.3` or less experience, he has no chances to make a mistake.

[2015-01-13 21:29] #10 closed

[2015-01-13 21:41] Zhouzi commented on #11
Actually I never faced a 404 page myself but several users reported it. From my side the link works perfectly. I started to monitor the site to figure out what's happening.

For now, I included the sources back in the codepen: http://codepen.io/Zhouzi/pen/JoRazP
You should be able to access the darth vader scene now hehe :)

Thank you and sorry for the inconvenience!

[2015-01-14 08:00] ErtugKaya commented on #10
Nice touch. Congratulations for your 1k+ stars project.

[2015-01-14 12:47] Zhouzi commented on #10
Thank you! :)

[2015-01-14 23:46] zzz6519003 commented on #9
hehe  u r chinese~

[2015-01-15 08:09] Zhouzi commented on #9
@zzz6519003 actually I'm french but yep, my nickname is chinese as I'm a fan of chinese culture/philosophy ;)

[2015-01-15 14:49] Stephn-R opened #14 "Publishing the project to Bower"
Hey, I think it would be a great idea to publish this project as a new Bower Component after a license is chosen.

http://bower.io/docs/creating-packages/

[2015-01-15 15:38] zzz6519003 commented on #9
CURIOUS! i have recite all those words that is hard to understand when  i'm at school...

[2015-01-15 18:01] Zhouzi commented on #14
Thanks for the suggestion @Stephn-R.
I am not an user of bower my self but I'll have a look and see how I can make it available as a bower component.

[2015-01-15 18:05] Zhouzi commented on #11
Hello @kloplop321

I made some fixes in the dns configuration. Could you please try again to access http://gabinaureche.com/TheaterJS and see what happens? It'd be much appreciated.

[2015-01-16 05:21] Stephn-R commented on #14
Not a problem, I can help with the transitioning for this project in a bower component

[2015-01-17 01:18] augbog opened #16 "Add mistakes including incorrect capitalizations and typing characters ahead and then erasing"
I think it would be awesome if we could improve the realism of mistakes made by making it so that capital letters are sometimes confused or users go back to fix a capital letter.

i.e. And then the fox ran. so... --> And then the fox ran. So...

Also mistakes where users type the next letter in the word (sometimes this happens because they didn't push the key with one of their fingers hard enough)

[2015-01-17 04:27] williamg opened #18 "Decompose "Experience" into "Speed" and "Accuracy""
Right now the "experience" factor increases speed while decreasing mistakes. I don't think this is totally accurate. I think, optimally, "experience" should be decomposed into "speed" and "accuracy" rather than just one parameter like it is now. This would allow you to have speed demons that make lots of mistakes or slow, deliberate typists that are almost flawless.

[2015-01-17 17:14] #11 closed

[2015-01-17 17:19] Zhouzi commented on #18
Thank you for the suggestion @williamg, this is a great idea! I've added it to the todos: https://github.com/Zhouzi/TheaterJS/blob/gh-pages/README.md#todo

[2015-01-17 17:25] Zhouzi commented on #16
Thank you for the suggestion @augbog! It makes sense, I've added it to the todos: https://github.com/Zhouzi/TheaterJS/blob/gh-pages/README.md#todo

Feel free to contribute if you will :)

[2015-01-17 19:00] kloplop321 commented on #11
Sorry about not getting back to you, yes, it is fixed now! :smile_cat:

[2015-01-17 19:22] Zhouzi commented on #11
No problem @kloplop321, thank you! :+1:

[2015-01-18 00:04] Zhouzi commented on #18
This is now implemented as of https://github.com/Zhouzi/TheaterJS/commit/7ae832f58f6aa818551ae5a8a58c401d74081b45

[2015-01-18 00:04] #18 closed

[2015-01-18 15:14] jackdcrawford opened #20 "Write parsing `:` issue"
Firstly, awesome library! I've been having some fun playing around with it :smile:

I've found an issue with the `write` function. If you call it in the shorthand way and the speech contains a `:`, it will error.

e.g.
[code]

[code]

[2015-01-18 15:16] jackdcrawford commented on #20
Whoops, looks like this has already been addressed! Nice work :) #15

[2015-01-18 15:16] #20 closed

[2015-02-03 13:18] Zhouzi opened #26 "HTML tags not closing correctly"
The result of `theater.write('Vader:<a href="#">Search</a> your feelings...');` is `<a href="#">Search your feelings...</a>` instead of `<a href="#">Search</a> your feelings...`

You might be interested by this issue @williamg

[2015-02-07 11:09] #26 closed

[2015-02-07 16:40] #14 closed

[2015-02-09 13:54] pagoad opened #29 "How can I stop writing?"
I write on page scrolling.
I need to stop writing when user see some element.
How can i stop writing even if actor write only half of sentence.

[2015-02-10 20:47] Zhouzi commented on #29
Hello @pagoad!

For now, TheaterJS doesn't provide neither a `stop` or `pause` method. It'd be probably interesting to think about implementing it.

What's your real need? You want to "pause" the animation, even half of sentence, and then be able to play from where it left? Or would you start from scratch again? Maybe just call "play" and type the whole sentence again?

[2015-02-11 07:53] pagoad commented on #29
When I scrol page i want to write in header some sentences.
Every section has his own.
When I scroll fast "Actor" has no chance to write sentence before next section will start.
And it is look strange when you are on bottom of page and you see he is writing  unaccomplished sentences one after the other

[2015-02-12 18:58] MikeBarry89 opened #30 "Automatically hide code"
Hi. Rather than having a link saying "hide code", how do I have the code hidden automatically? For example, in my site http://topdrawerdesigns.ie/home-testz.html I don't want the code to appear below the writing.

Thanks!

[2015-02-14 16:36] Zhouzi commented on #30
Hello @MikeBarry89!

Actually this portion of the code is part of the demo but shouldn't be included otherwise. So in the following snippet:

[code]

You should remove the `<pre>` element and its content. I noticed you also included some of the code used for the Vader/Luke scene, if you are interested in keeping only what really matters for your case, have a look at this simplified [fiddle](http:/

[2015-02-14 16:36] #30 closed

[2015-02-14 16:38] Zhouzi commented on #29
Thank you for the details @pagoad, I'm thinking about implementing such feature in TheaterJS. Do you have a link to your site so I'd have a look?

[2015-02-14 17:41] MikeBarry89 commented on #30
Great! Thanks a lot for tour help! Works perfectly for me now
El 14/02/2015 16:36, "Gabin Aureche" <notifications@github.com> escribió:

[2015-02-14 20:19] pagoad commented on #29
I'm coding this website right now, I have it only on localhost.
When i finish i will show you :)
When could you implement this feature? How much time? :)
Thx!

[2015-02-14 22:52] #16 closed

[2015-02-20 18:28] marvinroger opened #31 "CDN ?"
Hi!

Would you mind if TheatherJS was hosted on a CDN like [cdnjs](https://cdnjs.com/) or [jsDelivr](http://www.jsdelivr.com/) ? It would be great as this would allows us to use the lib without actually serving it from our own servers.

[2015-02-22 15:56] Zhouzi commented on #29
Hello @pagoad, the `stop` method is now implemented. Have a look at [the documentation](https://github.com/Zhouzi/TheaterJS/wiki/2.-API-Reference#stop). Let me know when your project is available online :)

[2015-02-22 16:31] Zhouzi commented on #31
Hello @marvinroger and thank you for the suggestion. TheaterJS is now pending review to be added to jsDeliver: https://github.com/jsdelivr/jsdelivr/pull/3564

[2015-02-22 18:34] marvinroger commented on #31
Great news! Thanks for the quick response.

[2015-02-22 20:20] Zhouzi commented on #31
TheaterJS is now available on jsDeliver: `//cdn.jsdelivr.net/theaterjs/latest/theater.min.js`

[Documentation on usage](https://github.com/Zhouzi/TheaterJS/wiki) has also been updated.

[2015-02-22 20:20] #31 closed

[2015-02-23 08:34] pagoad commented on #29
Thx! :D

[2015-02-23 08:44] Zhouzi commented on #29
You are welcome! ;)

[2015-02-23 08:45] pagoad commented on #29
It does not work :(
If I stop it, i cant resume with new text.

     headerTheater.stop();
     headerTheater.play();
     headerTheater.write('Header:' + h2, 100);

Nothing is happen.

[2015-02-23 13:01] Zhouzi commented on #29
I am not sure to understand what you are trying to do, could you please post the whole code relevant to your usage of TheaterJS?

Also, note that the `write` method implicitly calls `play` (unless you have set `autoplay` to `false`). So:

[code]

Should be enough.

[2015-02-23 13:06] pagoad commented on #29
For example:

    $(window).on('scroll', function() {
        $('section:in-viewport(200)').each(function() {
                var h2 = $(this).data('h2');
                headerTheater.stop();
                headerTheater.write('Header:' + h2, 100);
        }
    });

It doesnt work. Without .stop() it's work, but when I use this function text dont want to show.

[2015-02-24 13:20] Zhouzi commented on #29
Reopening as the `play` and `stop` methods are not working properly together.

[2015-02-25 20:36] Zhouzi commented on #29
The `play` method should now work as expected. Have a look at this [fiddle](http://jsfiddle.net/to1puqam/1/), it will probably help you deal with your case. Let me know if you have any questions ;)

[2015-02-25 20:36] #29 closed

[2015-03-06 11:04] eantz opened #32 "theater.play(true) is not working"
Hi,
From your example and documentation, there is a function
[code]
that will replay the loop.

But actually, it's not working.
It's stopped at the end of last `.write()` function.
or, am I missing something here?

[2015-03-07 14:51] #32 closed

[2015-03-07 14:55] Zhouzi commented on #32
Hello @eantz and thanks for reporting this issue, v1.4.0 fixes it :)

[2015-03-09 07:18] vkbansal opened #33 "How to use with node/npm/browserify/webpack ?"
How to use with node/npm/browserify/webpack ?

[2015-03-11 20:57] Zhouzi commented on #33
Hello @vkbansal,

for now TheaterJS can't be used in the environments you mentioned but I am working on it and will keep you updated. Do you plan to use TheaterJS on the server side? I would be curious about it :)

[2015-03-12 04:40] vkbansal commented on #33
I'm was looking to use it with browserify

[2015-03-13 15:54] orcfull opened #34 "Is there a way to control the ERASE speed?"
Hey dude,

Love this but I'm wondering if there is a way to set a parameter to control the erasing speed?

Something similar to this.
                    .describe("reader", { speed: 15, accuracy: 1, invincibility: 4, erase:25 }, "#reader")

Thanks for the awesome plugin.

[2015-03-16 13:07] Zhouzi commented on #34
Hello @orcfull,

glad you like TheaterJS :)

The `erase` speed is based on actor's `speed`, with an increment of `.2`. It means that actors actually erase faster than they "type".

What are you trying to achieve? You'd like to configure erasing and typing speed independently?

Oh and note that `speed` is supposed to be an integer between `0` and `1` ;)

[2015-03-16 14:03] orcfull commented on #34
Hey @Zhouzi

I low how realistic it feels, I've been adding in soundbites for typing and it has a really human feel. Thanks for all your hard work.

What I'm trying to achieve is a human-like speed of typing out followed by either an instant delete of the typed content or a very fast delete. Almost an instant delete if you get me?

Yes, personally I'd love to be able to alter those independently.

[2015-03-17 21:03] Zhouzi commented on #34
My pleasure! :)

You can configure TheaterJS to "instant erase" speeches: `new TheaterJS({ erase: false })`.

That been said, I'll probably publish a new release at the end of the week to make the increment filter on `erase` scenes configurable. If you are in a hurry, have a look at https://github.com/Zhouzi/TheaterJS/blob/gh-pages/src/theater.js#L526

Update `.2` to whatever value fits your needs

[2015-03-22 00:09] Zhouzi commented on #34
Hello @orcfull,

`erase` scenes now accepts a second argument that allows you to configure the animation speed. I've updated the [documentation](https://github.com/Zhouzi/TheaterJS/wiki/2.-API-Reference#-1-erase-x-characters) ;)

[2015-03-22 00:09] #34 closed

[2015-03-22 00:10] Zhouzi commented on #33
Hello @vkbansal,

you should now be able to use TheaterJS with browserify ;)

[2015-03-22 00:10] #33 closed

[2015-03-27 11:57] orcfull commented on #34
Great @Zhouzi, really fantastic work and thanks for being so open about it all.

Excited to see how this develops with time:)

[2015-03-28 13:23] Zhouzi commented on #34
Thank you for your kind support @orcfull :)

[2015-03-29 16:24] vkbansal commented on #33
Have you published to npm?

I tried searching but could find it

[2015-04-09 01:58] szarouski commented on #33
Hi @Zhouzi, I'll be using TheaterJS in combination with http://tholman.com/dom-animator/ to make an Easter egg for my colleagues :) Is it possible to subscribe to each actor and to observe them typing? Currently there is `:start` and `:end`, while I need something like `:edit` event which contains current phrase.

[2015-04-11 17:23] Zhouzi commented on #33
Hey @szarouski! Actually, making TheaterJS work with dom animator (really cool by the way!) would be really hard as it uses "frames". That been said, you might not need it to reproduce a similar effect. Have a look at this fiddle: http://jsfiddle.net/avbb6wcw/

[2015-04-11 17:45] szarouski commented on #33
Nice, thank you :)

[2015-07-26 14:31] Zhouzi opened #37 "Issue with html when appending speech"
http://jsfiddle.net/v7gdmc4a/

[2015-08-29 02:08] afaqurk commented on #37
:+1:
I noticed the same thing when implementing TheaterJS for my blog. Line breaks, for some reason, render before the current line and not at the designated position.

[2015-08-30 18:06] Zhouzi commented on #37
Thanks for confirming this issue @afaqurk, I plan to release a fix soon ;)

[2015-09-01 22:34] siscia opened #38 "Infinite Loops"
Hi,

I am trying to run theater inside an infinite loop where I create the random text to show.

However I had the impresion that Theater is blocking the execution.

Is that possible ?

[2015-09-02 19:04] Zhouzi commented on #38
Hey @siscia,

That's an interesting use case and you shouldn't have too much trouble to make it work with TheaterJS. The only thing to keep in mind as that you need to wait for the animation to be finished before calling for the next one. I'd recommend to go with a recursive function:

[code]

[jsFiddle](http://jsfiddle.net/fa16kcaL/1/)

Let me know if it do fulfill your requirements ;)

[2015-09-02 19:10] siscia commented on #38
That is really nice, thank you :)

[2015-09-02 19:10] #38 closed

[2015-09-27 12:06] farhadyousefi commented on #37
than you for this amazing js. but please check theater.js to work fine with jshint. :)

[2015-09-28 18:26] andandandandrew opened #39 "Script File Throwing Error on Line 85"
Hi there,

AWESOME STUFF first of all.

So in codepen, everything is working just great (http://codepen.io/andandandandrew/pen/XmKEMK). I'm importing the theater.js file then typing the plugin scripty part in the JS panel, which is tantamount to an inline script if I'm correct.

So where I'm trying to use this on a site I'm working on, I have the theater.js script dynamically loading using PHP (it

[2015-09-28 19:29] Zhouzi commented on #39
Thanks @andandandandrew, glad you like it ;)

As it stands, it looks like it's trying to set the `innerHTML` of a null variable - which means that the DOM element couldn't be found. There are two possible causes:

1. TheaterJS tries to access the DOM element before the DOM is ready.
  * To fix this issue, you can whether wrap the code in a "DOM ready" listener: `document.addEventListener('DOMConte

[2015-09-28 19:52] Zhouzi commented on #37
Thanks @farhadyousefi ;) I am currently rewriting TheaterJS in ES6 and looking into [standard](http://standardjs.com/), not exactly jshint but I guess it'd do the work too.

[2015-09-28 20:55] andandandandrew commented on #39
OK, so I am a super JS idiot, so please bare with me. I added the DOM ready listener to theater.js by prepending "document.addEventListener('DOMContentLoaded', function() {" before the start of the file's code, and appended "}, false);" after the last line in theater.js.

That solved the inner HTML null issue. But now, I have another issue.

Now I'm getting this message: Uncaught ReferenceError: T

[2015-09-29 18:51] Zhouzi commented on #39
Actually the "DOM ready listener" should wrap the code that is actually manipulating the DOM: your code (but not the TheaterJS library).

That been said, I can see that the scripts are already placed at the end of the `<body>` so you shouldn't have to add the listener. Give it a try anyway and if that still does not solve your issue, my next bet is that the html content is loaded at a later time.

[2015-09-29 19:50] andandandandrew commented on #39
I'll recreate the page on my personal site tonight and send you the link. It will still function the exact same way that this one is supposed to. Thanks for all the help, it's awesome!

[2015-09-30 13:51] andandandandrew commented on #39
Hi there. I just downloaded the webpage and threw it up on my personal site's server. Pleases excuse the trash that is the markup in there. I really appreciate you taking a look at the code.

http://and-rew.com/lift

[2015-09-30 18:26] Zhouzi commented on #39
I couldn't load the page correctly but looking at the source code, I found that the span's id is `typeit lift-is` which is not matched by the `#typeit` selector.

<img width="378" alt="screen shot 2015-09-30 at 20 22 40" src="https://cloud.githubusercontent.com/assets/2291025/10202415/0cf621ea-67b1-11e5-872e-04f841d5144e.png">

Looks like a mistake since an element can't have two ids and spaces ar

[2015-09-30 18:53] andandandandrew commented on #39
IT WORKS!!! Thanks so so so much. I think what it was is that I had 2 IDs in the inline script part, why? I HAVE NO IDEA! I feel dumb, but am literally dancing around about it now!

[2015-09-30 18:53] #39 closed

[2015-09-30 19:27] Zhouzi commented on #39
haha really glad to help and thanks for being so enthusiastic :)

[2015-11-11 19:38] andandandandrew opened #40 "Ability to have text fade instead of untype"
Is there a way that this plugin can be used to fade the type after it's been typed in as opposed to the delete key function that's currently in there?

[2015-11-11 19:41] andandandandrew opened #41 "Script freezing (randomly) during multiple typed phrases"
On my agency's homepage, we are making good use of theater.js. My boss has trouble with it freezing mid sentence on his computer (year and a half old macbook air). I know it's hard to replicate without his actual machine, but view it here and see if the same happens with you. Maybe you can throttle your bandwidth of memory in dev tools to recreate?

http://lift1428.com

Thanks bud!

[2015-11-11 20:47] Zhouzi commented on #40
That's a nice idea! What you have to do is:

1. Turn off the "erase" animations
2. Add "async" scenes that fade out the element and then play the next scene

Have a look at this fiddle: http://jsfiddle.net/bLn88v0s/

[2015-11-11 20:55] Zhouzi commented on #41
Glad to see you're having fun with TheaterJS :)

Is his browser completely freezing or everything's working as usual but the typing animation? What browser/version is he using?

The latest version of TheaterJS could help fixing the issue but there are lots of breaking changes. I'll publish a simple guide on how to migrate from v1.x to v2 by the end of the week if that seems interesting to you.

[2015-11-11 22:06] andandandandrew commented on #40
You're my favorite GitHubber! Thanks!

[2015-11-11 22:08] andandandandrew commented on #41
Everything is working, just some of the typing stops mid sentence. Not sure why.

He's using Safari 8.x, not sure exactly what release. He's gone for the day so I'll get the actual version tomorrow.

A guide on migrating to v2 would be AMAZING! Thanks friend!

[2015-11-12 20:48] Zhouzi commented on #37
@afaqurk @farhadyousefi  this issue is now fixed thanks to v2, here is a working jsFiddle: http://jsfiddle.net/v7gdmc4a/1/

I also added [standard](http://standardjs.com/) to the workflow ;) If you're interested in migrating from v1 to v2, have a look at the [guide](https://github.com/Zhouzi/TheaterJS/blob/master/MIGRATING.md) and let me know if you're having any trouble.

[2015-11-12 20:50] Zhouzi commented on #40
Glad to help! :)

[2015-11-12 20:50] #40 closed

[2015-11-12 20:51] Zhouzi commented on #41
Here you go: [Migrating from v1 to v2](https://github.com/Zhouzi/TheaterJS/blob/master/MIGRATING.md)

Let me know if you're having trouble and if you're still facing the freezing issue.

[2015-11-13 20:08] #37 closed

[2015-11-19 04:07] timwangdev opened #42 "Bower main file could not be found in release"
`"main": "build/theater.js",` in `bower.json` could not be found in release and repository.

It would cause some error when use `gulp` tools.

[2015-11-21 10:15] #42 closed

[2015-11-21 10:16] Zhouzi commented on #42
Thanks for pointing that out @timwangdev

[2015-11-21 10:17] Zhouzi commented on #41
Could you give a try to v2 @andandandandrew?

[2015-11-23 14:07] andandandandrew commented on #41
Yes! I will try v2 today or tomorrow and get back to you. Thanks a ton!

[2015-11-24 02:28] timwangdev commented on #42
@Zhouzi You might also want to add uncompressed `theater.js` to `bower.json` main file, according to [bower.json spec](https://github.com/bower/spec/blob/master/json.md#main) recommendation.

[2015-11-26 20:13] Zhouzi commented on #42
Thanks @timwangdev, I went through the spec and updated a few things in the `bower.json` file.

[2015-12-02 13:09] Zhouzi commented on #41
Any news about this issue @andandandandrew? Feel free to reach me on gitter if that's easier: https://gitter.im/Zhouzi/TheaterJS

[2015-12-02 13:11] andandandandrew commented on #41
Today is do a bunch of bug fixing day, so I'll get the new script in there and report back! Thanks!

[2015-12-10 14:20] Zhouzi commented on #41
Hope you could fix it, I'm closing but let me know if you're still having trouble ;)

[2015-12-10 14:20] #41 closed

[2015-12-10 14:22] andandandandrew commented on #41
Sorry for not updating! It's all good now. It was partly an old old version of Safari being used. I updated to v2 on the dev server it it's working swimmingly! Thanks so much!

[2015-12-11 08:34] Zhouzi commented on #41
No problem, glad everything's working just right ;)

[2016-01-16 10:17] merqurio opened #46 "Erasing a sentence/word faster"
Hi there,

We love using your script at our [page](http://iomed.es), and we wanted to use it even more. I've been looking to the docs, looking for a faster way of erasing a sentence but I didn't found any API. Should I write my own custom callback ?

Thanks a lot !!

[2016-01-19 21:27] Zhouzi commented on #46
Hey @merqurio, glad to see that you are using TheaterJS :)

So you are looking for a way to erase a sentence faster while not modifying the configuration's min/max speed, right? If that's what you're looking for, sadly there's no way to do it yet. It'd be a great feature so I'll work on it and keep you updated ;)

[2016-01-20 00:08] merqurio commented on #46
Thanks ! I tried passing a fn that modified the element, but didn't work..
[code]

[2016-01-20 08:16] Zhouzi commented on #46
Oh my bad, I thought you wanted to keep the animation but increase its speed. What you are looking for is to clear the actor's display value. Actually, an actor is an object that has a displayValue property and theaterJS relies on it to set the element's innerHTML. This is why your callback didn't seem to work. Here is the way to go:

[code]

And here is a jsFiddle to see it in action: https://jsf

[2016-01-20 09:25] merqurio commented on #46
Great !!!! Thank you very much !!

I just tested it and works perfectly, but maybe you were right and changing the speed would be more natural ? dunno. peace :v:

[2016-01-20 09:25] #46 closed

[2016-01-20 10:23] Zhouzi commented on #46
Well, I guess it depends but let me know if you finally prefer to keep the animation ;)

Anyway, have fun :)

[2016-01-20 10:33] merqurio commented on #46
In the end I just left the animation. I'll try to dive into the code the next week and see if I can implement a way of accelerating the animation in particular cases and do a PR. :+1: thanks for support !

[2016-02-15 20:15] nishantdeveloper opened #47 "Examples are not working out of the box (ES6 syntax)"
I configured the javascript and all. It is easily working in Firefox. But in chrome it is not starting. Please help me

[2016-02-15 20:30] nishantdeveloper commented on #47
Ok! i found out the problem. I copied the code that is given in the example and where the first line is
`let theater = theaterJS()`

When i changed it to:
`var theater = theaterJS()`
It started working.

[2016-02-15 20:34] Zhouzi commented on #47
Hey @nishantdeveloper! Yep, `let` is an ES6 keyword that's not yet supported across all browsers. I should probably update the examples to use pure ES5 to avoid any confusion. I'll keep this issue open until I do so.

In the meantime, feel free to get in touch if you're facing any other issue ;)

[2016-03-08 00:11] AmineIzumi opened #48 "Global option to slow down erase scenes without affecting type's speed"
When the typing speed is set to fast, the erasing seems really slow compared to typing. Is it actually possible to change the erasing speed ?
[Closed because it was a duplicate, and as i read you're already working on it o/ ]

[2016-03-09 18:44] Zhouzi commented on #48
Hey there! Sorry for being late. If you're still having trouble configuring the erase scene's speed, here is a fiddle that illustrates how you could do that: https://jsfiddle.net/yexw3do1/

erase scenes accept an argument that's used as the delay between each erased characters. To add a scene with an argument you'll need to provide a scene object, e.g:

[code]

Have a look at the fiddle for a work

[2016-03-09 19:38] AmineIzumi commented on #48
Oh, it's perfect ! Thank you so much !
However i don't understand how to use it correctly, and your fiddle only shows the case of erasing the last sentence.
Actually, I'd like to implement that in a dialog. Here's a concrete example of what i'm trying to achieve :
`
  .addScene('luke:Hey there!')
  .addScene('vader:Hi.')
  .addScene({ name: 'erase', args: [10] }) //To erase Luke's sentence before

[2016-03-09 20:46] AmineIzumi opened #49 "theater.play() and theater.stop() issue"
Hello again ! I've been playing a lot with your awesome javascript, and i found an issue in one of the core features.
When you assign the theater.play() and theater.stop() toggles on a button, pressing it multiple times button within a certain amount of time (before the current scene/event stops) make Theater completely buggy, a fiddle will explain it better than me :

https://jsfiddle.net/AmineIz

[2016-03-09 23:24] Zhouzi commented on #48
In fact erasing and typing speeds are calculated in the same way and depends on two things:

* the options' minSpeed and maxSpeed
* the actor's speed characteristic

So for now, you can't affect the erase's speed without affecting the type's speed too. Unless, of course, you're creating an erase scene each time you need it:

[code]

That been said, I can see the use case and it could be a great fe

[2016-03-09 23:28] AmineIzumi commented on #48
Okay, thanks once again for your help !

[2016-03-09 23:28] Zhouzi commented on #49
Thanks for the heads-up! That's definitely a bug so I'll have a look ;)

[2016-03-10 23:33] AmineIzumi opened #50 "theater.stop() , choose to instantly pause the sentence or wait until it's writed"
Hi again ! My third comment in a week, sorry for bothering you soo much D: !
Actually, when you send theater.stop() , the JS wait until the sentence is finished before stopping.
A great enhancement could be to add a parameter to choose if the sentence must be finished or not :

I see a lot of uses for that feature, my try is to pause writing when the webpage isn't visible (= window minimized or us

[2016-03-13 11:12] Zhouzi commented on #47
The examples finally use plain ES5 syntax ;)

[2016-03-13 11:12] #47 closed

[2016-03-13 11:14] Zhouzi commented on #48
I've implemented a way to configure type and erase speed independently, have a look at the [documentation](https://github.com/Zhouzi/TheaterJS#documentation) :) I'm about to release a new version to npm/github/bower.

[2016-03-13 11:14] #48 closed

[2016-03-13 11:16] Zhouzi commented on #49
So I figured out the issue and it's now fixed per 10d4152cae5c3e797b34f3cb17449240ecbdd37a ;)

[2016-03-13 11:16] #49 closed

[2016-03-13 11:34] Zhouzi commented on #50
No problem, you're not bothering me at all, I'm always glad to get in touch with people using TheaterJS ;)

Back then, when I first added `.stop()`, I wanted it to stop the animation right away but I quickly figured out that it'd be really hard to achieve. The thing is, when an actor types, he can make mistakes but not too much. When he starts fixing his mistakes, he fixes them all at once. So it

[2016-03-13 12:33] Zhouzi commented on #50
I finally had some time, so here is the "[minimalist version](https://jsfiddle.net/p1e9La6w/)". I've also added a note in the documentation. I'd be curious to know if it actually fits your needs?

[2016-03-13 13:49] AmineIzumi commented on #48
So, the erase speed will be affected by max/min scene erase speed, and actor speed, and is not specific to an actor's option (like 'erase', in the minimalist version you shown in the other post), right ? Awesome, i'm going to play with this option right now ! Thank you so much for your time and kindness !
By the way i noticed a small typo in the documentation, here it is :

(sorry, i don't know ho

[2016-03-13 14:02] AmineIzumi commented on #50
Okay, thanks for your detailed explanation ! Your comments in the fiddle are also really useful !
This minimalist version is fitting my needs of stopping an animation instantly, but i don't think I'll replace TheaterJS by that one : Even if my fiddle had the mistakes feature disabled, it was only for example purpose, and this feature is what I mostly love in TheaterJS . It adds a 'human' touch to

[2016-03-13 14:05] AmineIzumi commented on #49
Thanks ! The fact that the fix is working locally but not in the fiddle (which use the CDN version) tells me that the CDN isn't up to date, or that the 2.0.2 isn't the 'latest' release for the CDN (which appears to be the case in the release tab of Github). Could you update the CDN to 2.0.2 as well :) ?

[2016-03-13 21:28] Zhouzi commented on #49
Thanks for looking into it, /latest is probably cached on your side. Emptying it should make the latest version appear (it worked for me and /latest is 2.0.2). Let me know if it's still not working ;)

[2016-03-13 21:29] Zhouzi commented on #50
Glad you like it, that's actually the whole purpose of TheaterJS :)

[2016-03-13 21:33] AmineIzumi commented on #49
You're right, i didn't thought about that :o ! However, what about [Github Release](https://github.com/Zhouzi/TheaterJS/releases) showing 2.0.1 as "latest release" ?

[2016-03-13 21:34] Zhouzi commented on #48
Yes that's it, the configuration is global and not really related to an actor. You should be able to have the desired result by tweaking the erase/type and actor's speed. I'll make some tests and see if adding a greater bonus to the erase speed would make sense.

Thank you very much regarding the documentation, you are absolutely right :)

[2016-03-13 21:43] Zhouzi commented on #49
Oh that's weird, I've added the `v2.0.2` git tag but didn't use GitHub's ui to release it, that's probably why. I'll go through GitHub's documentation to learn more about that.

[2016-03-14 20:16] AmineIzumi opened #51 "[enhancement] fire an event when a scene is finished"
Hi ! I'm working with the events .on('type:start, erase:start') or type:end erase:end to make the text container duplicate itself when someone finished typing. However, i added many 'long scenes', like this :
[code]
 [Fiddle showing the (in)usability of type:start](https://jsfiddle.net/AmineIzumi/u1ojxkfc/)

so the 'type:end' event doesn't fit my needs anymore, since it's triggered multiple times

[2016-03-15 21:46] Zhouzi commented on #51
That makes total sense and I can see how useful it could be. So here you go: there's now a `sequence:start` event emitted when a sequence starts and `sequence:end` when it ends as of 2.1.0.

[2016-03-16 00:04] AmineIzumi commented on #51
Thank you so much, once again !

[2016-03-16 01:07] AmineIzumi commented on #40
Hi ! Sorry to bump this, but since now there isn't anymore theater.next() and theater.write() and maaaany more, how could I achieve that ?

[2016-03-16 13:10] Zhouzi commented on #40
The idea remains the same, the only change is that TheaterJS doesn't make any assumptions about whether the callback is synchronous or not. So a callback scene receives a `done()` function as first argument, which is the equivalent of the old `theater.next()`. Here is what it looks like with the latest version: https://jsfiddle.net/dc5e2s5r/1/

That been said, there are two things that I'm not rea

[2016-03-16 13:12] Zhouzi commented on #51
That should be pretty easy to implement and once again, makes sense so I'll open an issue regarding this feature.

[2016-03-16 13:13] Zhouzi opened #52 "Emit an event when the scenario is replayed"

[2016-03-16 13:13] AmineIzumi commented on #40
Having to add the fadeout isn't really a problem now, since you've implemented 'scene:end' event ^^
Thanks for the tip !

[2016-03-16 13:14] Zhouzi opened #53 "Callback that listen for scenes events should be able to delay execution of next scene"

[2016-03-16 13:16] Zhouzi opened #54 "Disabling the erase option should still clear display value when relevant"

[2016-03-16 13:32] AmineIzumi opened #55 "Adding a 'showcase' to the readme"
Maybe it would be a nice idea to add a showcase of what is powered by TheaterJS. It would allow new users to see what Theater is able to do, I guess ? Also, showcases are always inspirating :smile: !

[2016-03-16 16:51] Zhouzi commented on #55
You're absolutely right, I've been thinking about it for a while now. I'm definitely going to add it and hope you'll provide a link to what you've done :)

[2016-03-16 17:06] AmineIzumi commented on #55
Yeah, it’s still a work in progress, but I’ll be glad to show you what your script allowed me to do when I’ll finish it ! :D

[2016-03-16 17:12] Zhouzi commented on #40
Yes, the thing is that the events are non-blocking so you can't delay the execution of the next scene: #53

[2016-03-16 17:15] AmineIzumi commented on #40
Yep, I saw the issues you opened, you literally predicted my questions haha :)
A workaround i'm using is too set some delay at the beginning of a new scene. Like that : .addscene(400,'luke: Heeey ')

[2016-03-16 20:11] #51 closed

[2016-03-16 20:50] Zhouzi commented on #52
Emitting an event when calling `.replay()` doesn't make much sense as it can be called from the "outside". So the final implementation is a little more generic: an event is emitted when the scenario starts (the first scene starts) and when it ends (the last scene ends).

[2016-03-16 20:50] #52 closed

[2016-03-17 13:17] Zhouzi commented on #53
Calling `.stop()` within a callback that listens for a scene's `:end` event now effectively stops the scenario.

[2016-03-17 13:17] #53 closed

[2016-03-17 13:20] Zhouzi commented on #40
With next release it should be either to handle such case:

[code]

[2016-03-17 20:44] Zhouzi commented on #55
I've added a few items to the [showcase](https://github.com/Zhouzi/TheaterJS#showcase) and hope to retrieve some more.

[2016-03-17 20:44] #55 closed

[2016-03-17 20:46] Zhouzi opened #56 "Are you using TheaterJS?"
If so, please let me know and I'll be glad to add it to the [showcase](https://github.com/Zhouzi/TheaterJS#showcase) (or feel free to submit a pull request).

[2016-03-19 20:32] AmineIzumi opened #57 "[bug]theater.replay not working anymore as of 2.2.0"
Well, the title is pretty clear. Since 2.2.0, a replay call in a Scene can't trigger the "Sequence:end" event, and shows that there is no name for that Scene. **(Unable to get property 'name' of undefined or null reference**
Open the console, and look at this [fiddle ](https://jsfiddle.net/AmineIzumi/ujax42wL/) where the bug is easily reproducible - Just wait for the replay scene to start :)

[2016-03-19 21:58] Zhouzi commented on #57
Thanks for the heads up, it was due to the way `.replay()` works and is now fixed per 4c0b752a96740983ff7c6896f151e414284cebc5 which is included in v2.2.1's release.

[2016-03-20 15:06] AmineIzumi commented on #57
You're welcome !
Mh, another thing, when does the sequence:end event get fired ? Actually, if I "theater.stop()" when a sequence:end event is set like that for example :
`         .on('sequence:end', function () {
              theater.stop();
//Do something
              setTimeout(1400,theater.play());
          });`
since "theater.stop()" wait for the end of the sequence to stop, and that the e

[2016-03-20 15:55] Zhouzi commented on #57
Actually the `sequence:end` event is emitted when it ends so calling `theater.stop()` in a callback that listens for it won't prevent the sequence from ending but the next scene to play. But I'm not really sure to understand what you're trying to do, would you mind providing an example?

[2016-03-20 17:00] AmineIzumi commented on #57
Sorry, It's a bit difficult to explain something in a language other than my native one.
I wouldn't mind at all, here's [another fiddle ](https://jsfiddle.net/AmineIzumi/ce376rva/)
I figured out some things, so my question doesn't involve the sequence:end event anymore, but I'm still searching how to get the state of the scene, you'll understand with the fiddle :)

[2016-03-20 17:51] Zhouzi commented on #57
You are looking for `theater.status` which can be:

* `ready`: nothing special is happening, the scenario is ready to be played
* `stopping`: the scenario is about to stop
* `playing`: the scenario is playing

So in your case, you could ensure that `theater.status === 'ready'`:

[code]

[2016-03-20 17:51] #57 closed

[2016-03-20 17:52] Zhouzi commented on #54
Available in v3.0.0

[2016-03-20 17:52] #54 closed

[2016-05-25 11:36] AmineIzumi opened #59 "|Request] Theater.previous / Theater.next"
Hi !
I'm just wondering if it's possible to return to the previous scene (or the next) with a simple button press :) ?
Thank you for your time !

[2016-05-26 18:37] Zhouzi commented on #59
Hey there!

Sadly there's no way to play the previous/next scene due to the way the state is handled (related to #50) and it'd involve quite some work :/

[2016-05-29 09:43] zhupengGitHub opened #60 "What js files need to be imported？"
why I imported theater.min.js and use var theater = new Theater() cause an error no constructor Theater()

[2016-05-29 19:44] AmineIzumi commented on #60
Have you read the [documentation ](https://github.com/Zhouzi/TheaterJS#documentation)?

[2016-05-29 21:49] Zhouzi commented on #60
What version of TheaterJS are you using? As of v2.0.0, a TheaterJS instance must be created like so:

[code]

`new TheaterJS()` is deprecated and related to versions prior to 2.0.0.

[2016-06-01 19:57] #60 closed

[2016-06-16 09:41] bender2601 opened #61 "Instant restart or reinitialization of scenario?"
Hi, I really like your plugin - great work and easy to use.
As far as I understand, `theater.replay()` restarts the scenario as soon as it reaches its end - but I wonder if there's a way to instantly restart or otherwise reinitialize the whole scenario e.g. at the click of a button.
Thanks in advance!

[2016-06-21 07:30] Zhouzi commented on #61
Hey @bender2601, sorry for the delay. Sadly, due to the way the internal state of each scene is handled, it's impossible to instant stop a scene (related to #59 #50). It'd involve quite some work to implement with probably a lot of breaking changes :/

[2016-06-21 08:11] bender2601 commented on #61
Thanks for the reply anyway - no worries for the delay. I read these related topics before - but I thought to completely "destroy" and then re-initializing the current scenario would be technically different and easier than pausing/stopping the current animation.

[2016-06-21 18:26] Zhouzi commented on #61
I'll look into it and see if you could get it working by "destroying" the instance but I'm afraid that the `timeout`s will remain and lead to a memory leak :/

[2016-07-07 12:19] ameesme opened #62 "JS in demo not hosted over HTTPS"
The demo page is hosted on Codepen, which has HTTPS enabled. The javascript-file requested is not. This breaks the demo in many modern browsers.

[2016-07-08 09:50] Zhouzi commented on #62
Thank you very much for the heads-up @ameesme, it's now fixed. Hopefully it has not been the case for too long :/

[2016-07-08 09:50] #62 closed

[2016-11-05 01:22] unsalted opened #64 "add "main" to package.json"
"main": "dist/theater.js"

not having it confuses module loaders.

[2016-11-14 19:30] Zhouzi commented on #64
I am surprised it has been missing for so long but it's now fixed and part of 3.1.0. Thank you @unsalted 👍

[2016-11-14 19:30] #64 closed

[2017-02-02 00:36] felixheck commented on #59
Additionally a **finish** method would be great so that users kann skip the animation and see the final version of the scenario :)

[2017-02-02 20:00] Zhouzi commented on #59
@felixheck Thanks for the suggestion, it definitely makes sense!

[2017-02-04 19:05] happyventures opened #65 "Differentiation between erase and type speeds"
I am trying the following options
`theater = theaterJS({
  "minSpeed": {
    "erase": 80,
    "type": 450
  },

  "maxSpeed": {
    "erase": 80,
    "type": 450
  }
});`
However I am unable to have a different speed between type and erase

[2017-02-05 12:17] Zhouzi commented on #65
The code you shared looks good, the issue may due to something else. Have a look at this [jsfiddle](https://jsfiddle.net/zv1vdmng/) and let me know if you're still having any issues. If you do, please attach the whole code.

[2017-02-19 14:59] felixheck commented on #56
@Zhouzi http://whotheheck.de/ :)

[2017-02-19 16:13] Zhouzi commented on #56
Awesome thank you @felixheck 👍

[2017-04-25 23:36] thomasgrist opened #66 "Typing gets stuck / pauses on Chrome iOS"
Hi there,

Firstly - thank you very much for the script. It's excellent.

I have a small issue on Chrome iOS. The typing pauses / stops just before the 6th line of text on my iPhone 7: http://thomasgrist.co.uk/portfolio2017/index8.html. This isn't a problem my desktop Chrome browser.

Any ideas how to fix?

Cheers.
Thomas.

[2017-04-27 11:02] Zhouzi commented on #66
Thanks for your kind words Thomas 👍

Are there any details you could share with me? Maybe some errors or a reproduction scenario? Maybe a screenshot?

I'll investigate as soon as I can grab an iPhone from a friend.

[2017-04-27 11:03] Zhouzi commented on #65
I guess you figured it out so I'll close the issue. Do not hesitate to get in touch if you're still having trouble.

[2017-04-27 11:03] #65 closed

[2017-04-27 11:47] thomasgrist commented on #66
Hi Zhouzi,

Thank you for taking the time to reply and help.

I have attached two screenshots.

Pass - What it should look like:
![pass](https://cloud.githubusercontent.com/assets/28027790/25481164/d9b7518e-2b43-11e7-918a-870831eb8a27.PNG)

Fail - What it looks like when it's stuck:
![fail](https://cloud.githubusercontent.com/assets/28027790/25481165/d9b773da-2b43-11e7-8cb0-e82e78599738.PNG)

When

[2017-05-01 17:22] Zhouzi commented on #66
Thank you very much for the detailed explanation @thomasgrist 👍

Is it stuck at the same point every time (right after "believe in")? Is the issue the same in portrait and landscape mode?

I suspect some css to cause it. Could you open this page and see if it's working as expected: https://run.plnkr.co/h6wOYDMlwB0kW1Rs/

I copied the theaterJS code from your site and pasted it in a plunkr without

[2017-05-02 22:53] thomasgrist commented on #66
Hi Zhouzi,

Thanks for your ongoing help.

Here's some answers:

Is it stuck at the same point every time (right after "believe in")? < yes

Is the issue the same in portrait and landscape mode? < the width of the container is different in landscape mode so it gets stuck in a different place (I think when the last letter of the the line is very close to the right edge of the container it gets stuc

[2017-05-05 07:08] Zhouzi commented on #66
Thanks, Thomas 👍

I am glad you could figure it out. Do not hesitate to reach out again if you're facing any trouble.

[2017-05-05 07:08] #66 closed

[2017-06-16 06:01] wang125309 opened #67 "It would be stopped when the scene was more then 2 lines in safari , while take a long time ,all the scene will be appear"

[2017-06-17 20:13] Zhouzi commented on #67
Thanks for reporting @wang125309 👍

With what version of Safari did you notice this? Was it on a mobile phone? Could you reproduce it in other browsers or Safari is only browser concerned? Could you share the code you used?

If you have an online link to share with me, it would be super awesome 💪

[2017-07-22 23:26] Kalaborative opened #68 "How to make the scene say something different each time?"
Here is my code (using JavaScript and Jinja templating):

    var myOffers = [{% for o in offers %}"{{ o }}",{% endfor %}];
    var rand = myOffers[Math.floor(Math.random() * myOffers.length)];
    theater
      .addScene('jjbot:' + rand, 900)
      .addScene('jjbot:')
      })

Basically every time an element is clicked, it runs `theater.play()`. The problem is, I would like it, if clicked again,

[2017-07-23 11:56] Zhouzi commented on #68
You could create the whole scenario once by adding each offers in a random order, something like:

[code]

And then, you could stop the scenario after each scene and wait for the user to click the element to play the next scene.

Let me know if that works for you.

[2017-07-23 20:55] Kalaborative commented on #68
@Zhouzi thanks for your help on this!

I'm stuck on the `while` loop part. Is there any way to break out of the loop? The page just loads indefinitely for me.

[2017-07-24 12:57] Zhouzi commented on #68
I made a jsfiddle with comments: [jsfiddle.net/2bu4h9v5](https://jsfiddle.net/2bu4h9v5/). It should clears things up 👍

[2017-07-24 14:48] Kalaborative commented on #68
This **definitely** helps.
Thank you so much for that clarity. Cheers!

[2017-07-24 14:48] #68 closed

[2017-11-24 10:01] wang125309 commented on #67
Im so sorry, I almost forgot that, maybe I used other modules or I was give up writing that. My safari version maybe 11.0.1 and on mobile phone the problems may be more ~ thx

[2018-04-25 10:27] tobieeniafe opened #70 "Unable to use theater js in Angular 2+"
I installed theaterjs via npm and added it to my typing file like any other javascript library. But whenever i add it to my component, I get an error. PS the code works fine in `.html` files.
![screenshot 227](https://user-images.githubusercontent.com/18620774/39240402-936a9f8c-487b-11e8-845d-e27d671b9a1e.png)
![screenshot 228](https://user-images.githubusercontent.com/18620774/39240403-93ab5928-4

[2018-04-26 11:47] Zhouzi commented on #70
I am not too familiar with Angular's DOM manipulation and lifecycle but this error means the `<div id="vader">` element is not in the page when the scenario starts. Perhaps `ngOnInit` is what you need to use: https://angular.io/guide/lifecycle-hooks#oninit

[2018-12-04 02:40] pierreleripoll opened #73 "Speed by function"
Hi ! First of all, great job, real cool stuff here.

I had an idea, could it be possible to add more customization for each scene ?
I mean when someones says something sad he's not supposed to have the same speed/rythm than when he says something happy or else...
As a way to handle this I was thinking of adding speed and accuracy for each scene instead of each character.
I was also thinking for ev

[2018-12-09 11:30] Zhouzi commented on #73
@pierreleripoll thanks for the kind words! ☺️ It is indeed a great idea and I'd be happy to have such feature in TheaterJS. I haven't played with the code for a long time now but as far as I remember, the current implementation is not quite ready for it. It'd probably involve a lot of work but feel free to give it a try!

[2019-07-04 09:05] SmGG opened #74 "Print scene by line"
First, thank you for this cool works.

I have an idea, could it be possible that add a function `theater.addLineScene()` , and this can be used to print the whole scene line at once.
Because sometimes the  typing is kind of too slow even I set the `maxSpeed` to 1.

Thank you for your consideration!

[2019-07-04 14:18] Zhouzi commented on #70
I'm closing this as the issue doesn't come from TheaterJS itself. Note that you can implement a custom "updater" thanks to the actor's callback, see: https://github.com/Zhouzi/TheaterJS#addactor

[2019-07-04 14:18] #70 closed

[2019-07-04 14:24] Zhouzi commented on #74
Thanks for the kind words 😊

Have you tried to play with the minSpeed/maxSpeed options? If TheaterJS had a `.addLineScene` method, would you always use it or mix it with the current `addScene`?

[2019-07-04 14:25] Zhouzi commented on #56
I'm closing this but feel free to ping me if you want your project to be showcased 😉

[2019-07-04 14:25] #56 closed

[2019-07-04 14:26] Zhouzi commented on #67
I'm afraid I'll have to close this issue as I am unable to reproduce it. Do not hesitate to reopen if you're still having any trouble 👍

[2019-07-04 14:26] #67 closed

[2019-07-05 13:57] SmGG commented on #74
I have tried the options maxSpeed, even I set it to zero, the scene is still typing, a little bit slow. I just want the whole line show up at once, like the introduction of the background when the show came up, or the narration of the play.
If TheaterJS had such a method, I would like to use it like this:

[code]

I don't know if I express myself clearly, my English is not very well.
Thank you for

[2019-07-05 14:39] Zhouzi commented on #74
Thanks for the details, it's perfectly clear 😉 This is not something TheaterJS can do right now but it could be considered. It raises a few questions though:

* Is TheaterJS's speed configuration too poor?
* Should TheaterJS automatically speed up for long text?
* Are long text well suited for TheaterJS? (e.g isn't the "mistakes" feature annoying in this case?)

TheaterJS is a typing animation lib

[2019-12-12 20:30] magnusskogen opened #77 "Initial value"
Is it possible to have an initial value? Let's say we start off with a sentence:

And then the word coffee gets erased and changed to _beer_.

[2019-12-13 06:10] zhouzi commented on #77
Sure, it can be achieved by limiting TheaterJS to the word you want to change. The following should work:

[code]

[code]

In this example, TheaterJS is only going to change the content of the span with the id "drink".

[2019-12-13 12:09] magnusskogen commented on #77
Thanks for your reply. However I'm not sure if this answers my question? I'd like the actor `drink` to have an initial value, that is erased.

This would be the starting point:

`<h1>I like to drink <span id="drink">coffee</span>.</h1>`

And when `addScene('drink:beer')` is triggered, the word `coffee` is erased, and `beer` is written.

Does that make sense? Right now it seems a word has to be pro

[2019-12-15 15:20] zhouzi commented on #77
Yes, your example should work. You can initialize the markup with the value you want it to have initially. Are you having any trouble with it?

[2019-12-16 13:26] magnusskogen commented on #77
You are right, `coffee` is erased. Or I'd rather say it's _removed_. It would be nice if it was erased backwards, letter by letter.

[2019-12-17 16:10] zhouzi commented on #77
Oh ok, I now understand what you're looking for 👍 I'm afraid that is not possible without playing with the library's internals.

Could you tell me more about your use case? Are you trying to use TheaterJS with a server-side rendered application? Knowing more about the use case could help me come up with the proper solution.

[2020-02-01 20:49] minanagehsalalma opened #79 "A tool that mimicks system tools automatically ?"
Like lets say it's the wifi manager of an android phone
And we want to mimicry it to use in a phishing captive portal page  for pentesting
Is there a way to do make it even half automatic?
Cause every phone has a different wifi manager !

What do you think  ?

[2020-02-02 14:08] zhouzi commented on #79
TheaterJS is a JavaScript typing animation library, I'm afraid that's quite far from what you are looking for but correct me if I'm wrong :wink:

[2020-02-02 14:08] #79 closed, assigned to nobody

[2020-02-02 17:37] minanagehsalalma commented on #79
I know ... I just need any kind of keywords related to my question so I can do a better search on it ...
Any suggestions are appreciated
@Zhouzi  thanks in advance

[2020-02-02 19:58] zhouzi commented on #79
You would like to emulate smartphones' wifi connection? I guess you could look for emulators but I doubt it's going to emulate that kind of feature. Perhaps it's all based on a few protocols. I know little to nothing about the subject though. I'm just throwing things out of thin air here, I'm afraid I can't help much. Good luck!

[2020-02-02 20:22] minanagehsalalma commented on #79
Not exactly ... Just the WiFi selection page .... As a phishing attack page to trick the users into thinking that they Are using their real WiFi connection page to enter their password without actually functions or any thing just a fake dump page of it that all what it functions in it is the submit button
@Zhouzi

[2020-02-02 21:11] minanagehsalalma commented on #79
@Zhouzi just like this.... using HTML&js&css
![IMG_20200202_223910](https://user-images.githubusercontent.com/20546638/73615510-29ece200-4611-11ea-94b4-160c344bc150.png)
![IMG_20200202_223832](https://user-images.githubusercontent.com/20546638/73615522-4721b080-4611-11ea-9973-db88ec551b2f.png)

[2021-10-23 00:16] my5t3ry opened #90 "obj.onValuesChange not triggered if running project from core.getProject()"
Hello,

first of all, i have to say that theaterjs is a pretty need piece of software imo. i'm not really into es6, but managed to wrap threejs/studio an integrate it into an angular application pretty easy. The studio part works except of some self-inflicted css fuckery flawless. :)

I'm stuck at the moment to play() a persisted project. No matter if i'm using the theater localstorage implementat

[2021-10-23 07:44] zhouzi commented on #90
Hey! I think you have mistaken TheaterJS for Theatre.js 😊 Here's the repository you are looking for: https://github.com/ariaminaei/theatre

[2021-10-23 07:51] my5t3ry commented on #90
damnit, thank you for the hint.
:)

[2021-10-23 07:51] #90 closed, assigned to nobody